.popover-on {

  transition-property: opacity, transform, display, scale;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-behavior: allow-discrete;
  inset: unset;

  opacity: 0;
  scale: 0.8;

  &:popover-open {
    opacity: 1;
    scale: 1;

    @starting-style {
      opacity: 0;
      scale: 0.8;
    }
  }
}

.ancorado-ao-botao {
  max-height: stretch;
  max-width: stretch;
  position: fixed;
  position-area: bottom;
  position-try-fallbacks: top;
}