table.freezer-colunas.congelar-botoes:has(.botoes-acao) {

  th:last-child,
  td:last-child {
    position: -webkit-sticky;
    position: sticky !important;
    right: 0;
    z-index: 12;
    border-left-width: 2px;
  }
}

table.freezer-colunas:not(.pular-primeira-coluna) {
  & {
    --largura-coluna-um: 110px;
    --largura-coluna-dois: 110px;
  }

  &:is(.congelar-uma-coluna, .congelar-duas-coluna, .congelar-tres-coluna) :where(td, th):nth-child(1) {
    position: sticky !important;
    left: 0;
    z-index: 11 !important;
    overflow: visible !important;
  }

  &:is(.congelar-duas-coluna, .congelar-tres-coluna) :where(td, th):nth-child(2) {
    position: sticky !important;
    left: calc(var(--largura-coluna-um) + 1px);
    z-index: 11 !important;
    overflow: visible !important;
  }

  &.congelar-tres-coluna :where(td, th):nth-child(3) {
    position: sticky !important;
    left: calc(var(--largura-coluna-um) + var(--largura-coluna-dois) + 2px);
    z-index: 11 !important;
    overflow: visible !important;
  }

  &.congelar-uma-coluna :where(td, th):nth-child(1)::after,
  &.congelar-duas-coluna :where(td, th):nth-child(2)::after,
  &.congelar-tres-coluna :where(td, th):nth-child(3)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    content: "";
    pointer-events: none;
    right: 0;
    transform: translateX(100%);
    box-shadow: inset 10px 0 8px -8px var(--bs-table-border-color);
    opacity: 1;

    border-left: 1px;
    border-left-color: #80808080;
    border-left-style: solid;

    /* animation: revelar-sombra steps(1, end) both; */
    /* animation-timeline: scroll(inline nearest); */
    /* animation-range: 0px 1px; */
  }

}

table.freezer-colunas.pular-primeira-coluna {
  & {
    --largura-coluna-zero: 0px;
    --largura-coluna-um: 110px;
    --largura-coluna-dois: 110px;
  }

  & :where(td, th):nth-child(1) {
    position: sticky !important;
    left: 0;
    z-index: 11 !important;
  }

  &:is(.congelar-uma-coluna, .congelar-duas-coluna, .congelar-tres-coluna) :where(td, th):nth-child(2) {
    position: sticky !important;
    left: calc(var(--largura-coluna-zero) + 1px);
    z-index: 11 !important;
  }

  &:is(.congelar-duas-coluna, .congelar-tres-coluna) :where(td, th):nth-child(3) {
    position: sticky !important;
    left: calc(var(--largura-coluna-zero) + var(--largura-coluna-um) + 2px);
    z-index: 11 !important;
  }

  &.congelar-tres-coluna :where(td, th):nth-child(4) {
    position: sticky !important;
    left: calc(var(--largura-coluna-zero) + var(--largura-coluna-um) + var(--largura-coluna-dois) + 3px);
    z-index: 11 !important;
  }

  &:not(.congelar-uma-coluna):not(.congelar-duas-coluna):not(.congelar-tres-coluna) :where(td, th):nth-child(1)::after,
  &.congelar-uma-coluna :where(td, th):nth-child(2)::after,
  &.congelar-duas-coluna :where(td, th):nth-child(3)::after,
  &.congelar-tres-coluna :where(td, th):nth-child(4)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    content: "";
    pointer-events: none;
    right: 0;
    transform: translateX(100%);
    box-shadow: inset 10px 0 8px -8px var(--bs-table-border-color);
    opacity: 1;

    border-left: 1px;
    border-left-color: #80808080;
    border-left-style: solid;

    /* animation: revelar-sombra steps(1, end) both; */
    /* animation-timeline: scroll(inline nearest); */
    /* animation-range: 0px 1px; */
  }

}

@keyframes revelar-sombra {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

table td:has(.flutuar-hover)>* {
  pointer-events: none;
}